/*// FILM CARD //*/

.result {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.result-text {
    margin-top: 120px;
}

.result-text > h1 {
    width: 100px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 35px;
    text-shadow: 3px 3px 2px #782FD6;

}

.result-text > p {
    width: 100px;
    height: 30px;
    text-align: center;
    color: white;
    font-size: 19px;
    text-shadow: 2px 3px 2px #782FD6;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/*// FILM POSTER //*/

.movie-poster {
    position: absolute;
    margin-top: 40px;
    align-items: center;
    width: 205px;
    height: 300px;
    z-index: -1;
    border-radius: 15px;
    mix-blend-mode: overlay;
    filter: blur(3px);
    opacity: 0.7;
}

.movieposter-background {
    position: absolute;
    margin-top: 40px;
    align-items: center;
    width: 205px;
    height: 300px;
    z-index: -2;
    background: #65B1EF;
    border: 2px solid #000000;
    box-shadow: 5px 4px 0px #782FD6;
    border-radius: 15px;
}

/*// RESULT TOOLS //*/

.film-result-tools {
    margin-top: 155px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 2;


}

.activeShare:hover {
    width: 33px;
}

.activeReturn:hover {
    width: 33px;
}