.movie-history {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.movie-history-text {
    text-align: center;
    padding: 15px;

}

.movie-history-text > p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 17px;
    margin: 7px;
}

.movie-history-text > h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 20px;
}

.movie-history-text > h3 {
    background: #CBCAFF;
    border: 2px solid #782FD6;
    border-radius: 22px;
    color: #000000;
    margin: 7px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 13px;
}

.movie-box {
    background: #8470FF;
    border: 2px solid #3622B0;
    box-shadow: inset -5px -5px 0px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 4px;
    font-weight: normal;
    font-size: 30px;



}

.movie-history  button {
    background: #CBCAFF;
    border: 2px solid #000000;
    box-shadow: 3px 4px 0 #782FD6;
    border-radius: 9px;
    color: #000000;
    margin: 10px;
    padding: 7px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 17px;
}


.header-title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px ;
    margin: 20px;

}