
.nav-bar {
    background-color: #65B1EF;
    border: #65B1EF solid 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.home-icon {
    width: 40px;
    margin: 5px;


}


.app-header {
    width: 150px;
    margin: 5px;

}

.hamburger {
    width: 20px;
    margin: 20px 5px 5px 5px
}