/*-------------------------NAVBAR EN ICONS ERIN------------------------------*/

.menubar > button {
    border: none;
    background-color: #65B1EF;
    color: black;
}

.nav-bar {
    margin-top: 20px;
    background-color: #65B1EF;
    /*border: #65B1EF solid 5px;*/
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: solid 2px #62ACE9

}

.home-icon {
    width: 40px;
    margin: 5px;
}

.history-icon, .login-icon, .home-iconE {
    width: 30px;
    text-align: center;
    margin: 10px 0 0 0;
}

.app-header {
    width: 150px;
    margin: 5px;

}

.activeHomeButton :hover {
    width: 45px;
    margin: 0;

}

.activeHome-iconE :hover {
    width: 35px;

}

.activeHistoryButton :hover {
    width: 35px;
}

.activeLoginButton :hover {
    width: 35px;
}

/*-----------------------HAMBURGER MENU---------------------------*/

.hamburger {
    width: 20px;
    margin: 14px;
}


/*-----------------------SLIDING MENU---------------------------*/

.menu {
    width: 50%;
    height: 50%;
    background-color: #65B1EF;
    position: absolute;
    padding: 5px;

}


.hidden {
    display: none;
}

.visible {
    width: 100px;
    height: 250px;
    border-radius: 20px;
    padding: 5px;

}

.menubar {
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: center;
}

/*-----------------------ANIMATIE---------------------------*/

.burger-bar.clicked:nth-child(1) {
    transform: rotate(90deg);
    transition: ease-in-out 0.5s;
    margin: 14px;
}

.burger-bar.unclicked:nth-child(1) {
    transform: rotate(180deg);
    transition: ease-in-out 0.5s;
    margin: 14px;
}

.burger-bar.unclicked:hover {
    width: 35px;
    margin: 14px;
}

