.question-one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.nav-button-container {
    display: flex;
    flex-direction: row;
}

.nav-button {
    background: #CBCAFF;
    border: 2px solid #000000;
    box-shadow: 3px 4px 0 #782FD6;
    border-radius: 9px;
    color: #000000;
    margin: 20px;
    padding: 7px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 17px;
}

.nav-button:hover {
    background-color: mediumpurple;
    color: white;

}

.nav-button:disabled {
    background: lavender;
    border: 2px solid #000000;
    box-shadow: 3px 4px 0 #782FD6;
    border-radius: 9px;
    color: grey;
    margin: 20px;
    padding: 7px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 17px;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    background: #CBCAFF;
    border: 1.5px solid #000000;
    border-radius: 30px 30px 30px 0;
    box-shadow: 3px 4px 0 #782FD6;
    margin: 18px 0 15px 0;
    padding: 10px;
}

.question > h3, p {
    padding: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.answer-style {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    background: #CBCAFF;
    border: 1.5px solid #000000;
    border-radius: 30px 30px 30px 0;
    box-shadow: 3px 4px 0 #782FD6;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.radio {
    display: flex;
    flex-direction: column;
    width: 100px;
    box-sizing: border-box;
    background: #CBCAFF;
    border: 1.5px solid #000000;
    border-radius: 30px 30px 0px 30px;
    box-shadow: 3px 4px 0 #782FD6;
    margin: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;

}