.startButton {
    width: 250px;
}

.activeStartButton :hover {
    width: 260px;
    margin: 0;
    transform: rotate(-20deg);
    transition: ease-out 0.5s;
}

/*// HEADER GEDEELTE */


.startPageHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 40px 0;
}

.startPageHeader > .main-logo {
    margin: 35px 0 0 0;

}

.startPageHeader .menu {
    background-color: #CBCAFF;
}


.hamburger-start {
    position: relative;
    top: -40px;
}