body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #D0E7F4;
}

.main-logo {
    width: 200px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;

}