/*// STYLESHEET VOOR BELANGRIJKSTE ONDERDELEN*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #D0E7F4;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}



.main-logo {
    width: 200px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;

}

.error-notification {
    color: white;
    background-color: #782FD6;
    border: black solid 2px;
    border-radius: 10px;
    margin: 4px;
    padding: 4px;
}

.loading-notification {
    color: #782FD6;
    font-style: italic;
}

